<?xml version="1.0"?>
<config>
    <portalUrl>https://arcgis-online-portal-url/portal</portalUrl>
    <portalusername>username</portalusername>
    <portalpassword>password</portalpassword>
    <logpath>C:\SyncTool\logs\\</logpath>
<maps>
	<webMap name="webmap1" ItemId="web-map-item-Id" popupsync="true">
		<layer  name="layer_name_1" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	   <layer  name="layer_name_2" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	   <layer  name="layer_name_3" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	</webMap>
	<webMap name="webmap2" ItemId="web-map-item-Id" popupsync="true">
		<layer  name="layer_name_1" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	   <layer  name="layer_name_2" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	   <layer  name="layer_name_3" url="arcgis-service-url" popupTitle="popup title name" >
          <field name="field1" aliyasName="field name 1" order="1"/>
          <field name="field1" aliyasName="field name 2" order="2"/>
          <field name="field1" aliyasName="field name 3" order="3"/>
          <field name="field1" aliyasName="field name 4" order="4"/>
          <field name="field1" aliyasName="field name 5" order="5"/>
       </layer>
	</webMap>
</maps>
</config>